/*App background and text color */
.app-container {
  background-color: #121212;
  min-height: 100vh;
  color: white;
  position: relative;
}

.logout-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

/*Prediction container */
.predict-content {
  text-align: center;
  transition: padding-top 0.3s ease;
}

.image-not-uploaded {
  padding-top: 18rem;
}

.image-uploaded {
  padding-top: 2rem;
}

/* Main heading */
.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

/*View History button */
.history-button {
  margin-top: 1rem;
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
